:root {
    --main-color: #4f5940;
    --main-text-color: #FFFFFF;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-color);
    color: var(--main-text-color);
}